{
  "presets": [
    ["@babel/preset-env" , {
      "targets": { "node": "current" },
      "useBuiltIns": "usage",
      "corejs": 3,
      "modules": false
    } 
  ]
   ],
  "plugins": [
    ["@babel/plugin-transform-runtime", {
      "regenerator": true,
      "corejs": 3
    }] 
  ] 
}

